* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:monospace;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.item.background1 {
  background-image: url('https://i.redd.it/tc0aqpv92pn21.jpg');
}

.item.background2 {
  background-image: url('https://da.se/app/uploads/2015/09/simon-december1994.jpg');
}

.item.background3 {
  background-image: url('https://images7.alphacoders.com/878/878663.jpg');
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 10px 30px 10px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 220px); }
  &:nth-child(5) { left: calc(50% + 440px); }
  &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
}

.content {
  width: min(30vw,600px);
  position: absolute;
  top: 50%;
  left: 12rem;
  transform: translateY(-50%);
  font-size: 0.85rem;
  font-weight: 400;
  font-family:monospace;
  color: black;
  display: none;
  padding: 50px 40px 40px 40px;
  background-color: #fff;
  backdrop-filter: blur(5px);
  border: 2px solid black;

  & .title {
    font-family:monospace;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  & .author, .status {
    margin: 0rem 0 0.5rem;
    font-size: 0.8rem;
  }

  & .description {
    margin: 0rem 0 0.5rem;
    font-size: 0.8rem;
  }
}

.title {
  font-family:monospace;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.author, .status {
  margin: 0rem 0 0.5rem;
  font-size: 0.8rem;
}

.description {
  margin: 0rem 0 0.5rem;
  font-size: 0.8rem;
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
  text-align: center;

  & .btn {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
    border: 2px solid rgba(0,0,0,1);
    margin: 0 0.05rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      border: 2px solid transparent;
    }
  }
}

.navbar {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background-color: transparent;
  text-align: center; 
}

.search-container {
  display: flex;
  flex-direction: row;
}

.search-image {
  padding: 15px 30px;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  border: none;
  cursor: pointer; 
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.search-image i {
  color: white; /* Set color to white */
  font-size: 15px;
}

.search-input {
  padding: 15px 30px;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  border: none;
  cursor: pointer; 
  margin: 0;
  font-family:monospace;
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); }
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }
}

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 140px); }
    &:nth-child(5) { left: calc(50% + 280px); }
    &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
  }
}

.blog-actions{
  display: flex;
  flex-direction: row;
}

.blog-btn {
  display: block; 
  padding: 15px 40px;  
  font-size: medium;
  border: none; 
  border-radius: 10rem;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  font-family:monospace;
}

a{
  text-decoration: none;
}

.back-btn{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 2px solid black;
}

.back-btn:hover{
  background-color: #000000;
  color: #fff;
  border: 2px solid transparent;
}

.add-btn{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 2px solid black;
}

.add-btn:hover{
  background-color: #000000;
  color: #fff;
  border: 2px solid transparent;
}

.modify-btn{
  background-color: #ffffff;
  color: rgb(0, 80, 43);
  border: 2px solid rgb(0, 80, 43);
  margin-right: 5px;
}

.modify-btn:hover{
  background-color: rgb(0, 80, 43);
  color: #fff;
  border: 2px solid transparent;
}

.delete-btn{
  background-color: #ffffff;
  color: rgb(134, 1, 1);
  border: 2px solid rgb(134, 1, 1);
}

.delete-btn:hover{
  background-color: rgb(134, 1, 1);
  color: #fff;
  border: 2px solid transparent;
}

.form-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50px;
}

.textArea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.form-select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.submit-btn {
  background-color: rgb(0, 80, 43);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(0, 80, 43);
}
